body {
    font-family: 'Quicksand', sans-serif;
    flex-wrap: wrap;    
    background-color:  rgb(93, 67, 238);
    height: 100%;
    width: 100%;
}

header {
    text-align: center;    
    background-color: rgb(73, 48, 214);
    color: rgb(255, 251, 30);
    padding: 15px; 
}

.titulo-cabeçalho {
    display: inline-block;
    border-radius: 10px;
    font-size: 50px;  
    background-color: rgb(93, 67, 238) ;  
    padding: 5px 15px;
}

.logo{
    margin: 2.5em auto;
    display: block;
    width: 5%;
    bottom: 5vh;
    background-color: rgb(93, 67, 238);
    border-radius: 35%;
    padding: 5px;
}    

.cabeçalho a :hover {
    background-color: darkmagenta;
}

.logo-lua {
    height: 65px;
    width: 65px;
    float: right;
    vertical-align: middle;
    margin-left: 15px;
}

.cabeçalho li {
    display: inline-block;
    margin: 0 2em 0 2em;    
    background-color: rgb(93, 67, 238) ;
    padding: 5px 15px;
    border-radius: 10px;    
}

.cabeçalho ul :hover {
    background-color: darkmagenta;
}

.lista-nav img {
    height: 50px;
    width: 50px;
    margin: 10px 0;
    padding: 0 20px;    
}

.lista-nav h3 {
    text-decoration: underline;
    color: rgb(255, 251, 30);
}

.caixa-principal {
    border: 2px solid rgb(253, 251, 100);
    border-radius: 5px;
    text-align: left;
    width: 75%;
    margin: 1em auto;
    
}

.titulo-principal {
    font-size: 25px;
    margin-top: 1em;
    margin-left:1em;
    text-decoration: underline;
    text-transform: uppercase;
    color: rgb(253, 251, 100);
}

.logo-principal {
    width: 3em;
    height:3em;
    float: right;
    position: relative;
    right: 1em;
}

.principal {
    background-color: rgb(179, 253, 216);
    border-radius: 5px;
    width: 75%;
    margin: 2em auto;
    height: 55vh;
    position: static;
}

.rodapé-lateral {
    display: inline-block;
    position: relative;
    left: 1em;
    bottom: 75vh;   
}

.rodapé-lateral li {
    margin-top: 10px;   
    background-color:  rgb(73, 48, 214);
    border-radius: 5px;
    padding: 10px;
}

.rodapé-lateral img {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
}

.rodapé-lateral h3 {
    display: inline;
    position: relative;
    bottom: 12px;
    text-decoration: none;
}

.rodapé-lateral h2 {
    display: inline;
    color: rgb(253, 251, 100);
    text-align: center;
    text-decoration: none;

}

.rodapé-lateral a {
    color: rgb(253, 251, 100);
    text-align: center;
    text-decoration: none;
}

.rodapé-lateral ul :hover{
    background-color: darkmagenta;
}

.rodapé{
    text-align: center;
    font-weight: bold;
    color: black;
    position: relative;
    bottom: 45vh;
}

.logo-rodapé {
    height: 65px;
    width: 65px;
    display: block;
    margin: 0 auto;
}
